{% extends "base.html" %}
{% block titulo %}Listar Ventas{% endblock %}

{% block contenido %}
<div class="content">
  <h1>Ventas</h1>
  <div class="buttons">
    <a href="{{ url_for('ventas.crear_venta') }}" class="button is-success">Crear venta <i
        class='ml-2 bx bxs-plus-square'></i></a>
    <a href="{{ url_for('ventas.descargar_todas') }}" class="button is-info">Descargar Excel <i
        class='ml-2 bx bxs-file-export'></i></a>
  </div>

  <div class="table-container">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>
            {% if not request.args.get('ordenar_por') %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina'), ordenar_por='fecha') }}">
              FECHA
              <i class='bx bx-sort' ></i>
            </a>
            {% else %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina')) }}">
              FECHA
              <i class='bx bx-x'></i>
            </a>
            {% endif %}
          </th>
          <th>MES</th>
          <th>MANDANTE</th>
          <th>
            {% if not request.args.get('ordenar_por') %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina'), ordenar_por='empresa_venta') }}">
              EMPRESA
              <i class='bx bx-sort' ></i>
            </a>
            {% else %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina')) }}">
              EMPRESA
              <i class='bx bx-x'></i>
            </a>
            {% endif %}
          </th>
          <th>GLOSA</th>
          <th>NETO</th>
          <th>IVA</th>
          <th>
            {% if not request.args.get('ordenar_por') %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina'), ordenar_por='monto_total') }}">
              TOTAL
              <i class='bx bx-sort' ></i>
            </a>
            {% else %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina')) }}">
              TOTAL
              <i class='bx bx-x'></i>
            </a>
            {% endif %}
          </th>
          <th>FACTURA</th>
          <th>
            {% if not request.args.get('ordenar_por') %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina'), ordenar_por='estado') }}">
              ESTADO
              <i class='bx bx-sort' ></i>
            </a>
            {% else %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina')) }}">
              ESTADO
              <i class='bx bx-x'></i>
            </a>
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for venta in ventas %}
        <tr style="cursor: pointer;">
          <td>{{ convertir_fecha(venta.fecha) }}</td>
          <td>{{ convertir_mes(venta.fecha) }}</td>
          <td>{{ obtener_nombre_empresa(venta.empresa_mandante) }}</td>
          <td>{{ obtener_nombre_empresa(venta.empresa_venta) }}</td>
          <td>{{ obtener_glosa(venta.factura) }}</td>
          <td>{{ dinero_formato(venta.monto_neto) }}</td>
          <td>{{ dinero_formato(venta.monto_iva) }}</td>
          <td>{{ dinero_formato(venta.monto_total) }}</td>
          <td>{{ obtener_num_factura(venta.factura) }}</td>
          <td>
            {% if venta.estado %}
            <span class="tag is-success">Pagada</span>
            {% else %}
            <span class="tag is-danger">Por pagar</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="10">
            Ventas totales: {{ ventas.total }}
             | 
            {% if request.args.get('ordenar_de') == 'asc' %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina'), ordenar_por=request.args.get('ordenar_por'), ordenar_de='desc') }}">
              Ordenar de manera <strong>descendente</strong>
              <i class='bx bx-sort-down' ></i>
            </a>
            {% else %}
            <a
              href="{{ url_for('ventas.listar', pagina=request.args.get('pagina'), por_pagina=request.args.get('por_pagina'), ordenar_por=request.args.get('ordenar_por'), ordenar_de='asc') }}">
              Ordenar de manera <strong>ascendente</strong>
              <i class='bx bx-sort-up' ></i>
            </a>
            {% endif %}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <nav class="pagination" role="navigation" aria-label="pagination">
    {% if ventas.has_prev %}
    <a class="pagination-previous"
      href="{{ url_for('ventas.listar', pagina=ventas.prev_num, por_pagina=request.args.get('por_pagina')) }}"><i
        class='bx bxs-chevron-left'></i></a>
    {% else %}
    <a class="pagination-previous is-disabled" disabled><i class='bx bxs-chevron-left'></i></a>
    {% endif %}

    {% if ventas.has_next %}
    <a class="pagination-next"
      href="{{ url_for('ventas.listar', pagina=ventas.next_num, por_pagina=request.args.get('por_pagina')) }}"><i
        class='bx bxs-chevron-right'></i></a>
    {% else %}
    <a class="pagination-next is-disabled" disabled><i class='bx bxs-chevron-right'></i></a>
    {% endif %}

    <ul class="pagination-list">
      {% for pag_num in ventas.iter_pages() %}
      {% if pag_num %}
      {% if pag_num == ventas.page %}
      <li>
        <a class="pagination-link is-current" aria-label="Página {{ pag_num }}" aria-current="page">{{ pag_num }}</a>
      </li>
      {% else %}
      <li>
        <a class="pagination-link" aria-label="Página {{ pag_num }}"
          href="{{ url_for('ventas.listar', pagina=pag_num, por_pagina=request.args.get('por_pagina')) }}">{{ pag_num
          }}</a>
      </li>
      {% endif %}
      {% else %}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>

</div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/listar_ventas.js') }}"></script>
{% endblock %}