{% extends "base.html" %}
{% block titulo %}Crear empresa{% endblock %}

{% block contenido %}
<div class="content">
  <h1>Crear empresa</h1>
  <form method="post">
    {{ form.hidden_tag() }}

    <div class="field">
      {{ form.rut.label(class="label") }}
      <div class="control has-icons-left">
        {{ form.rut(class="input", placeholder="11222333-4") }}
        <span class="icon is-small is-left">
          <i class='bx bxs-user-detail'></i>
        </span>
      </div>
    </div>

    <div class="field">
      {{ form.nombre.label(class="label") }}
      <div class="control has-icons-left">
        {{ form.nombre(class="input", placeholder="Una empresa SpA") }}
        <span class="icon is-small is-left">
          <i class='bx bxs-user'></i>
        </span>
      </div>
    </div>

    <div class="field">
      {{ form.email.label(class="label") }}
      <div class="control has-icons-left">
        {{ form.email(class="input", placeholder="gerencia@empresa.cl") }}
        <span class="icon is-small is-left">
          <i class='bx bxs-envelope'></i>
        </span>
      </div>
    </div>

    <div class="field">
      {{ form.telefono.label(class="label") }}
      <div class="control has-icons-left">
        {{ form.telefono(class="input", placeholder="912345678") }}
        <span class="icon is-small is-left">
          <i class='bx bxs-phone'></i>
        </span>
      </div>
    </div>

    <div class="field">
      {{ form.direccion.label(class="label") }}
      <div class="control has-icons-left">
        {{ form.direccion(class="input", placeholder="Av. Empresa 123, Los Ángeles") }}
        <span class="icon is-small is-left">
          <i class='bx bxs-buildings'></i>
        </span>
      </div>
    </div>

    <div class="field">
      {{ form.submit(class="button is-fullwidth is-primary") }}
    </div>
    <div class="field">
      <a href="{{ url_for('empresa.listar') }}" class="button is-fullwidth is-info is-outlined">Volver</a>
    </div>

  </form>
</div>
{% endblock %}