{% extends "base.html" %}
{% block titulo %}Listar empresas{% endblock %}

{% block contenido %}
<div class="content">
  <h1>Empresas</h1>
  <div class="buttons">
    <a href="{{ url_for('empresa.crear') }}" class="button is-success">Registrar empresa <i class='ml-2 bx bxs-plus-square'></i></a>
    <a href="{{ url_for('empresa.descargar_empresas') }}" class="button is-info">Descargar Excel <i class='ml-2 bx bxs-file-export'></i></a>
  </div>
  <div class="table-container">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>RUT</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Giro</th>
        </tr>
      </thead>
      <tbody>
        {% for empresa in empresas %}
        <tr onclick="infoEmpresa({{empresa.id}})" style="cursor: pointer;">
          <td>{{ empresa.rut }}</td>
          <td>{{ empresa.nombre }}</td>
          <td>{{ empresa.direccion }}</td>
          <td>{{ empresa.email }}</td>
          <td>{{ empresa.telefono }}</td>
          <td>{{ empresa.giro }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">Cantidad de empresas: {{ empresas.total }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <nav class="pagination" role="navigation" aria-label="pagination">
    {% if empresas.has_prev %}
      <a class="pagination-previous" href="{{ url_for('empresa.listar', pagina=empresas.prev_num, por_pagina=request.args.get('por_pagina')) }}"><i class='bx bxs-chevron-left'></i></a>
    {% else %}
      <a class="pagination-previous is-disabled" disabled><i class='bx bxs-chevron-left'></i></a>
    {% endif %}
  
    {% if empresas.has_next %}
      <a class="pagination-next" href="{{ url_for('empresa.listar', pagina=empresas.next_num, por_pagina=request.args.get('por_pagina')) }}"><i class='bx bxs-chevron-right'></i></a>
    {% else %}
      <a class="pagination-next is-disabled" disabled><i class='bx bxs-chevron-right'></i></a>
    {% endif %}
  
    <ul class="pagination-list">
      {% for pag_num in empresas.iter_pages() %}
        {% if pag_num %}
          {% if pag_num == empresas.page %}
            <li>
              <a class="pagination-link is-current" aria-label="Página {{ pag_num }}" aria-current="page">{{ pag_num }}</a>
            </li>
          {% else %}
            <li>
              <a class="pagination-link" aria-label="Página {{ pag_num }}" href="{{ url_for('empresa.listar', pagina=pag_num, por_pagina=request.args.get('por_pagina')) }}">{{ pag_num }}</a>
            </li>
          {% endif %}
        {% else %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/empresa.js') }}"></script>
{% endblock %}