<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block titulo %}Sin título{% endblock %} - Simple ERP</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
    integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='/general.css') }}">
</head>

<body>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <h1>Simple ERP</h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Panel principal
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Gestión
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{ url_for('empresa.listar') }}">
              Empresas
            </a>
            <a class="navbar-item">
              Facturas
            </a>
            <a class="navbar-item" href="{{ url_for('ventas.listar') }}">
              Ventas
            </a>
            <a class="navbar-item">
              Compras
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Opción separada
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        {% if not current_user.is_authenticated %}
        <div class="navbar-item">

          <div class="buttons">
            <a class="button is-primary" href="{{ url_for('usuario.registro') }}">
              <strong>Registro</strong>
            </a>
            <a class="button is-light" href="{{ url_for('usuario.login') }}">
              Iniciar sesión
            </a>
          </div>
        </div>

        {% else %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{ current_user.nombre }} {{ current_user.apellido }}
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Acción 1
            </a>
            <a class="navbar-item">
              Acción 2
            </a>
            <a class="navbar-item">
              Acción 3
            </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <div class="buttons">
                <a href="{{ url_for('usuario.logout') }}" class="button is-danger">Cerrar sesión</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      {% block contenido %}{% endblock %}
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
    integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <script>
    iziToast.{{ category }} ({
      message: '{{ message }}'
    });
  </script>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% block scripts %}
  {% endblock %}
</body>

</html>